# Environment files
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Compiled JavaScript
build/

# Dependency directories
node_modules/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Editor directories and files
.vscode/*
!.vscode/settings.json
**/.vscode/*
!**/.vscode/settings.json
**.lh
**.idea
**.DS_Store
**.profile

# data folder
/data